VITE_SUPABASE_URL=sb_publishable_o2_J1zJejOPh7tiUQGk-OA_UK1BaKrB
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVoZmhvdmpmbHh1dHZ3bHJ0ZHB3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA1MTY1MzMsImV4cCI6MjEwNjA5MjUzM30.AFgCSL0yjhDxhIKp8cYDt72CM-1lJoHbwNohmZDAOm4

VITE_ALERT_EMAIL=your_alert_email
VITE_ALERT_PHONE=your_alert_phone
VITE_OPERATOR_EMAIL=your_operator_email
VITE_OPERATOR_PHONE=your_operator_phone
